#KIRAN M K - 1BM19CS073 
#6B2 
#MACHINE LEARNING LAB1

#Question 1: Implement and demonstrate the FIND-S algorithm for finding the most specific hypothesis based on a given set of training data samples.

In [2]:
import pandas as pd
import numpy as np

#DATA ENTRY IN CSV FORMAT

In [3]:
df = pd.read_csv('/content/Lab1_Doc.csv')

In [4]:
df

    Color Toughness Fungus Appearance Poisonous
0   GREEN      HARD     NO   WRINKLED       YES
1   GREEN      HARD    YES     SMOOTH        NO
2   BROWN      SOFT     NO   WRINKLED        NO
3  ORANGE      HARD     NO   WRINKLED       YES
4   GREEN      SOFT    YES     SMOOTH       YES
5   GREEN      HARD    YES   WRINKLED       YES
6  ORANGE      HARD     NO   WRINKLED       YES

In [14]:
'''CSV FILE DATA'''
hypo = []
for i in range(len(df.columns)-1):
  if type(i) == str:
    hypo.append("Null")
  elif type(i) == int:
    hypo.append(0)
  else:
    hypo.append(0.0)

for i in range(len(df)):
  if df.loc[i, 'Poisonous'] == "YES":
    for j in range(len(hypo)):
      if hypo[j] == "Null":
        hypo[j] = df.iloc[i, j]
      elif hypo[j] != df.iloc[i,j]:
        hypo[j] = "?"
print("The hypothesis for the given data: ", hypo)

The hypothesis for the given data:  ['?', '?', '?', '?']

#MANUAL ENTRY OF DATA

In [18]:
'''Input data entering'''
n = int(input("Enter the no of samples: "))
m = int(input("Enter the no of attributes: "))
#c = input("Are all attributes of string data type? Enter yes or no")
X = []
print("Enter the data")
for i in range(n):
  
  print("Sample no.", str(i+1))
  p = "Enter the value of attributes with a comma seperation: "
  inp = input(p).split(",")
  X.append(inp)
print(X)
'''Data input taking'''
hypo1 = []
for i in range(len(X[0])-1):
  if type(i) == str:
    hypo1.append("Null")
  elif type(i) == int:
    hypo1.append(0)
  else:
    hypo1.append(0.0)

for i in range(len(X)):
  if X[i][-1] == "YES":
    for j in range(len(hypo1)):
      if hypo1[j] == "Null":
        
        hypo1[j] = X[i][j]
      elif hypo1[j] != X[i][j]:
        
        hypo1[j] = "?"
    
print("The hypothesis after iterating through the dataset", hypo1)

Enter the no of samples: 7
Enter the no of attributes: 5
Enter the data
Sample no. 1
Enter the value of attributes with a comma seperation: GREEN,HARD,NO,WRINKLED,YES
Sample no. 2
Enter the value of attributes with a comma seperation: GREEN,HARD,YES,SMOOTH,NO
Sample no. 3
Enter the value of attributes with a comma seperation: BROWN,SOFT,NO,WRINKLED,NO
Sample no. 4
Enter the value of attributes with a comma seperation: ORANGE,HARD,NO,WRINKLED,YES
Sample no. 5
Enter the value of attributes with a comma seperation: GREEN,SOFT,YES,SMOOTH,YES
Sample no. 6
Enter the value of attributes with a comma seperation: GREEN,HARD,YES,WRINKLED,YES
Sample no. 7
Enter the value of attributes with a comma seperation: ORANGE,HARD,NO,WRINKLED,YES
[['GREEN', 'HARD', 'NO', 'WRINKLED', 'YES'], ['GREEN', 'HARD', 'YES', 'SMOOTH', 'NO'], ['BROWN', 'SOFT', 'NO', 'WRINKLED', 'NO'], ['ORANGE', 'HARD', 'NO', 'WRINKLED', 'YES'], ['GREEN', 'SOFT', 'YES', 'SMOOTH', 'YES'], ['GREEN', 'HARD', 'YES', 'WRINKLED', 'YES'], ['ORANGE', 'HARD', 'NO', 'WRINKLED', 'YES']]
The hypothesis after iterating through the dataset ['?', '?', '?', '?']

In [ ]:
5